body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f8;
}
.container {
  width: 700px;
  margin: 25px ;
  background: #ffffff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
input {
  width: 100px;
  padding: 10px;
  margin: 8px 0;
}
select {
  width: 100px;
  padding: 10px;
  margin: 8px 0;
}
button {
  width: 100px;
  padding: 10px;
  margin: 8px 0;
}
button {
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
button:hover {
  background: #0056b3;
}
